# macOS
.DS_Store

# Xcode / Swift
xcuserdata/
*.xcuserstate
DerivedData/
*.xccheckout
*.xcscmblueprint

# App config / secrets
**/.env
**/appsettings.json
**/amplifyconfiguration.json

# Database stuff
**/DatabaseSchema/**
**/DatabaseManager.swift
